{% extends 'base.html' %} {% block content %}
<h1>Cat List</h1>
{% for cat in cats %}
<a href="{% url 'detail' cat.id %}">
  <div class="card">
    <div class="flex-content">
      <div class="card-content">
        <span class="card-title">{{ cat.name }}</span>
        <p>Breed: {{ cat.breed }}</p>
        <p>Description: {{ cat.description}}</p>

        {% if cat.age > 0 %}
        <p>Age: {{ cat.age }}</p>
        {% else %}
        <p>Age: Kitten</p>
        {% endif%} {% load static %}
      </div>

      <div class="image-container">
        <img
          src="{% static cat.image|cut:'main_app/static/' %}"
          alt="Cat Image"
        />
      </div>
    </div>
  </div>
</a>

{% endfor%} {% endblock %}
